.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

@media only screen amd (max-with:600px) {
    .wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen amd (max-with:475px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}